<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='style.css')}}">
    
</head>
<body>
    <div class="container text-center">    
        <div class="row">
            <div class="col">
                <div class="listaDeCompras">       
                    <div class="registro-pedidos">
                        <h2>Registro de Pedidos</h2>
                        <form action="" method="post">
                            <div class="input-field">
                                <label for="item"> Digite o ID: </label>
                                <input type="text" name="idItem">
                            </div>
                            <br>
                            <div class="input-field">
                                <label for="item"> Digite a Quantidade: </label>
                                <input type="text" name="idQtd">
                            </div>
                            <input type="submit" id="adicionar" value="adicionar">
                        </form>
                    </div> 
                    <div class="estoque-produtos">
                        <h2>Estoque de Produtos</h2>
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Item</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                            </tr>
                            
                            {% for produto in produtos*2 %}
                            <tr>
                                <td> {{produto[0]}} </td>
                                <td> {{produto[1]}} </td>
                                <td> {{produto[2]}} </td>
                                <td> {{produto[4]}} </td>
                            </tr>
                            {% endfor %}
                        </table>                    
                    </div>
                </div>
            </div>            
            <div class="col">
                <div class="">
                    
                    <h2>Lista de Compras</h2>
                    <div class="lista-compras">
                        <table>
                            <tr>
                                <th>Produto</th>
                                <th>Qtd</th>
                                <th>V Un</th>
                                <th>V Total</th>
                            </tr>
                            
                            <!-- <div class="lista-itens"> -->
                                {% for produto in lista %}
                                <tr class="item">
                                    <td> {{produto['nomeItem']}} </td>
                                    <td> {{produto['quantidade']}} </td>
                                    <td> {{produto['valor_unidade']}} </td>
                                    <td> {{produto['valor_total']}} </td>
                                    <td>{{produto['id']}}</td>
                                    <td><a href="/deletar?id={{produto['id']}}">remover</a></td>
                                    
                                </tr>
                                {% endfor %}
                                <!-- </div> -->
                            </table>
                        </div>
                        <p>Total Compra: {{valor_compra}} </p>
                        
                        <form action="/realizar-compra" method="post">
                            <input type="text" id="idCliente" name="idCliente">
                            <input type="submit" value="finalizar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
    </html>